.App {
  text-align: center;
}

.user-pic {
  height: 200px;
  aspect-ratio: 1/1;
  /* border-radius: 50%; */
  object-fit: cover;
  padding: 30px;
}

.user-name {
  color: palevioletred;
  font-family: fantasy;
  font-weight: normal;
}